:root {
    --screen-ratio: 4;
}

@media screen and (max-width: 576px) {
    :root {
        --screen-ratio: 1;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    :root {
        --screen-ratio: 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    :root {
        --screen-ratio: 3;
    }

    .body-sidebar-content {
        display: none;
    }

    .body-content {
        width: 100%;
        left: 0;
    }

    .body-navbar-content {
        overflow: hidden;
    }
}